
upstream image_region_backend {
    server 127.0.0.1:{{ omero_ms_image_region_port }} fail_timeout=0 max_fails=0;
}

proxy_cache_path /tmp/cache levels=1:2 keys_zone=ms_cache:10m max_size=25m inactive=120m use_temp_path=off;

{{ nginx_contents['content'] | b64decode | regex_replace('}$', '')  }}

location ~ ^/(webclient|webgateway)/(render_(thumbnail_ngff|image|image_region|image_region_rdef|image_rdef|shape_mask)|get_thumbnails_ngff|histogram_json)/ {
  proxy_cache_key "$scheme$request_method$host$request_uri";
  proxy_cache ms_cache;
  proxy_cache_valid 200 302 60m;
  proxy_ignore_headers X-Accel-Expires;
  proxy_ignore_headers Cache-Control;
  proxy_pass http://image_region_backend;
}

location /omero_ms_image_region/ {
    gzip on;
    gzip_min_length 0;
    gzip_proxied any;
    gzip_types application/octet-stream;
    proxy_pass http://image_region_backend;
}
}
